/*background*/
header{ 
	background: url(background.jpg);
	background-position: center;
	background-size: cover;
	min-height: 1000px;
}
/*background-screen-acomidation*/
@media screen and (max-width: 670px){
	header{
		min-height: 500px;
	}
}

/*question 1*/
/*#question1{
	font-size: 15px;
}*/

#logo{

}

/*animation cursor*/
.cursor{
	display: inline-block;
	width: 3px;
	background-color: #212121;
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {background-color: #212121; }
	50% { background-color: transparent; }
	100% {background-color: #212121}
}

#icon2{
margin: 0px auto;
}

.main_container {
  height: 46px;
  width: auto;
  padding: 3px;
  margin: 2px;
  max-width: 300px;
  background-color: #555555;
  align-content: center;
}
.container_inner {
  height: auto;
  border: none;
  background-color: #555555;
  max-width: 290px;
  vertical-align: center;
  padding-top: 12px;
  padding-left: 10px;
  align-content: center;
}
 .num_tiles {
  width:30px;
  height: 30px;
  background-color: #888888;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  line-height: 20px;
  padding: 3px;
  margin: 1.5px;
  font-family: verdana;
  vertical-align: center;
}

#copyright{
	display: flex;
	  justify-content: center;
          justify-items: center;
	  align-items: center; 
	border-radius: 5px;
  background: #311b92;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 30px;
	font-color: white;
}


#bar{
	position: fixed;
}

<script>
  var counter_list = [10,55555,6600];
  var str_counter_0 = counter_list[0];
  var str_counter_1 = counter_list[1];
  var str_counter_2 = counter_list[2];
  var display_str = "";
  var display_div = document.getElementById("display_div_id");

  function incrementCount(current_count){
    setInterval(function(){
      // clear count
      while (display_div.hasChildNodes()) {
          display_div.removeChild(display_div.lastChild);
      }
      str_counter_0++;
      if (str_counter_0 > 99) {
        str_counter_0 = 10; // reset count
        str_counter_3++;    // increase next count
      }
      if(str_counter_1>99999){
        str_counter_4++;
      }
      display_str = str_counter_2.toString() + str_counter_1.toString() + str_counter_0.toString();
      for (var i = 0; i < display_str.length; i++) {
        var new_span = document.createElement('span');
        new_span.className = 'num_tiles';
        new_span.innerText = display_str[i];
        display_div.appendChild(new_span);
      }
    },1000);
  }
</script>
